/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 992px) {
  img {
    width: 100%;
  }
}
/*基本css*/
.title{
    text-align: center;
    padding: 20px !important;
    background-color: #1abc9c;
    color:#fff;
}
.dropdown-content{
    width: auto !important;
}
.collapsible-header{
    font-weight: bold;
}
.chapterTitle{
    border-bottom: 2px solid #aaa;
}
.line{
    border:1px solid #ccc;
}
.RightContent{
    border-left: 2px solid #aaa;
}
.Tomato{
    color:Tomato;
}
.Red{
    color:#f31d1d;
}
.fiftyPercent{
    width:50%;
}
.centered,.centered > th{
    text-align: center;
}
/*end*/
/*会计基础*/
.kemu > thead{
    font-size: 1.5em;
}
.modal-header{
    border-bottom:2px solid #aaa;
}
/*end*/
